$light-color: rgb(255,255,255);
$dark-color: rgb(8, 31, 47);
$color-1: rgb(98, 180, 230);
$color-2: rgb(243, 107, 33);
$color-3: rgb(11, 64, 108);
$color-4: rgb(237, 32, 123);
$color-5: rgb(183, 192, 51);
$color-6: rgb(255, 213, 4);
$color-7: rgb(218, 38, 47);
$color-8: rgb(160, 31, 98);
$color-9: rgb(103, 103, 167);
$color-10: #219f95;

$main-color: rgb(84, 184, 210);
$main-color-light: rgb(116, 197, 217);
